body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  position: absolute;
  color: whitesmoke;
  height: 50vh;
  background: linear-gradient(to top, rgb(0, 0, 0, 0.45), rgb(0, 0, 0, 0.45)), linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
